<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Execution">
        <classes>
<!--            <class name="com.TYSS.Selenium.Practice.ReadingTheDataFromExcel"></class>-->
            <class name="com.TYSS.Selenium.Practice.FrameworkTest"></class>
        </classes>
    </test>
</suite>